<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blog.Mapper.ArticleMapper">
    <insert id="save">
        INSERT INTO articles (user_id, create_time, update_time, views, content, title)
        VALUES (#{userId}, #{createTime}, #{updateTime}, #{views}, #{content}, #{title})
    </insert>
    <select id="getUsefulById" resultType="com.example.blog.Pojo.vo.ArticleVo">
        select id,title from articles where user_id = #{userId}
    </select>
    <update id="update">
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="views != null">
                views = #{views}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
